@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.glass-card {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.6px);
  -webkit-backdrop-filter: blur(14.6px);
  border-radius: 8px;
}
@media (min-width: 730px) {
  .glass-card {
    border-radius: 12px;
  }
}
@media (max-width: 640px) {
  .glass-card {
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
  }
}

@media (max-width: 400px) {
  .glass-card {
    border-radius: 0;
  }
}

.main_color {
  background-color: #100f12;
}

.accent_color {
  background-color: #ba00fc;
}

.main_text_color {
  color: #100f12;
}

.accent_text_color {
  color: #ba00fc;
}

.mySwiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
